.navall
{
	position: fixed;
	left:0;
	top:0;
	right:0;
	z-index:999;
	background-color:#020240;
	height: 80px;
}



.sidenav
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0A0A33;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a 
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #A6A6A6;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover 
{
  color: #FFFFFF;
}

.sidenav .closebtn 
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.search
{
	margin-left: 30px;
	margin-top: -10px;
	position: absolute;
}

.title
{
	text-align: center;
	margin: auto;
}

.title01
{
	font-family: Impact;
	color: #EF2A2A;	
	letter-spacing: 5px;
}

.title02
{
	font-family: Impact;
	color: #2A8FF4;	
	letter-spacing: 5px;
}

.member
{
	color: white;
	font-family: 微軟正黑體;
	font-size: 20px;
	margin: 8px 10px 0px 5px;
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:none;
}

.container-fluid
{
  padding-right: 0px;
  padding-left: 0px;
}

.brightness
{
	-webkit-filter:brightness(.45);
}

.banner
{
	position: relative;
	margin-top: 80px;
}


.ml6 
{
	color: white;
	font-size: 80px;
	position: absolute;
	top:25%;
	text-align: center;
	font-family:Arial;

}

.ml6 .text-wrapper 
{
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter 
{
  display: inline-block;

}

.option
{
	margin-top: 15px;
}

.option
{
	transform:scale(1,1);
  	transition: all 0.2s ease-out;
}

.option:hover
{
  transform:scale(1.05,1.05);
  box-shadow: 5px 5px 8px 0px   #808080;
}

.option01
{
	position: relative;
}

.optionword01
{
	font-size: 100px;
	font-family: Impact;
	letter-spacing: 5px;
	color: white;
	position: absolute;
	top:25%;
	left: 3%;
}

footer
{
  background-color: #020240;
  height: 60px;
  margin-top: 120px;
  width: 100%;
}